<div class="struct-container">
    <div class="mb-4" style="float: right;">
      <button routerLink="/sidebar/structure/ajouter" type="button" class="btn btn-custom">Ajouter une Structure</button>
    </div>
  
    <h2 class="struct-title">Liste des structures</h2>
  
    <!-- Filtrage des structures -->
    <!--<div class="d-flex mb-3 ">
      <div class="flex-grow-1">
        <select id="filterCriteria" class="form-select" (change)="onFilterChange()">
          <option value="">Choisir un critère</option>
          <option value="nom">Nom de la structure</option>
        </select>
      </div>
      <input type="text" [(ngModel)]="filterValue" [placeholder]="getPlaceholder()" (input)="applyFilters()" class="form-control " placeholder="Entrez le mot">
    </div>-->
    
    <table class="struct-table table table-striped mt-3">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let structure of structures">
          <td>{{ structure.nom_structure }} ({{structure.sigle }})</td>
          <td>{{ structure.adresse }}</td>
          <td>{{ structure.telephone }}</td>
          <td>
            <a [routerLink]="['/sidebar/structure/donneur', structure.id]" class="icon-link">
              <span class="iconify" data-icon="bi:people-fill"></span>
            </a>
            <a [routerLink]="['/sidebar/structure/modifier', structure.id]" class="icon-link">
              <span class="iconify" data-icon="mdi:pencil"></span>
            </a>
            <a class="icon-link" (click)="deleteStructure(structure.id)"><span class="iconify" data-icon="mdi:delete"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Pagination controls -->
    <!--<div class="pagination-controls d-flex justify-content-end mt-3">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-icon">
        <span class="material-symbols-outlined">arrow_back_ios</span>
      </button>
    
      <ng-container *ngFor="let page of getPages(); let i = index">
        <button (click)="goToPage(page)"
                [ngStyle]="{'border-color': currentPage === page ? '#2C6B59' : '#6c757d', 'color': currentPage === page ? '#2C6B59' : '#6c757d'}"
                class="btn mx-1">
          {{ page }}
        </button>
      </ng-container>
    
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-icon">
        <span class="material-symbols-outlined">arrow_forward_ios</span>
      </button>
      
    </div>-->
    
    <router-outlet></router-outlet>
  </div>
