<div class="action-bar">
    <!-- Bouton pour ajouter une nouvelle banque de sang -->
    <a [routerLink]="['/sidebar1/banque-sang/ajouter']" class="btn btn-primary">
      <span class="iconify" data-icon="mdi:plus-circle-outline"></span> Ajouter une Banque
    </a>
  </div>
<div *ngFor="let banque of banques">
    <div class="card">
      <div class="card-title">{{ banque.matricule }}</div>
      <div class="card-content">
        <p>Stock actuel : {{ banque.stock_actuelle }}</p>
        <p>Date mise à jour : {{ banque.date_mise_a_jour }}</p>
      </div>
      <div class="card-actions">
        <a [routerLink]="['/sidebar1/banque-sang/detail-banque-sang', banque.id]" class="icon-link">
            <span class="iconify" data-icon="mdi:eye"></span>
        </a>
        <a [routerLink]="['/sidebar1/banque-sang/modifier', banque.id]" class="icon-link">
            <span class="iconify" data-icon="mdi:pencil"></span>
          </a>
        <a class="icon-link" (click)="deleteBanque(banque.id)"><span class="iconify" data-icon="mdi:delete"></span>
        </a>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>

