<div class="donneur-container">
  
    <h2 class="donneur-title">Liste des donneurs</h2>
  
    <!-- Filtrage des structures -->
    <!--<div class="d-flex mb-3 ">
      <div class="flex-grow-1">
        <select id="filterCriteria" class="form-select" (change)="onFilterChange()">
          <option value="">Choisir un critère</option>
          <option value="nom">Nom de la structure</option>
        </select>
      </div>
      <input type="text" [(ngModel)]="filterValue" [placeholder]="getPlaceholder()" (input)="applyFilters()" class="form-control " placeholder="Entrez le mot">
    </div>-->
     <!-- Sélection du type de donneur -->
  <div class="d-flex mb-3">
    <select [(ngModel)]="selectedType" (change)="applyFilters()" class="form-select me-2">
      <option value="all">Tous les donneurs</option>
      <option value="utilisateurs">Utilisateurs Simples</option>
      <option value="donneursExternes">Donneurs Externes</option>
    </select>
    <input type="text" [(ngModel)]="filterValue" (input)="applyFilters()" class="form-control" placeholder="Filtrer par nom, téléphone, etc.">
  </div>
    <table class="donneur-table table table-hover ">
      <thead>
        <tr>
          <th>Nom Complet</th>
          <th>Telephone</th>
          <th>Groupe sanguin</th>
          <th>Nombre de don</th>
          <th>Dernier don</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donneur of filteredDonneurs">
          <td>{{ donneur.nom_complet }}</td>
          <td>{{ donneur.telephone }}</td>
          <td>{{ donneur.groupe_sanguin }}</td>
          <td>{{ donneur.nombre_de_dons }}</td>
          <td>{{ donneur.dernier_don ? (donneur.dernier_don | date:'dd/MM/yyyy') : 'Aucun' }}</td>
        </tr>
      </tbody>
    </table>
    
    <!-- Pagination controls -->
    <!--<div class="pagination-controls d-flex justify-content-end mt-3">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-icon">
        <span class="material-symbols-outlined">arrow_back_ios</span>
      </button>
    
      <ng-container *ngFor="let page of getPages(); let i = index">
        <button (click)="goToPage(page)"
                [ngStyle]="{'border-color': currentPage === page ? '#2C6B59' : '#6c757d', 'color': currentPage === page ? '#2C6B59' : '#6c757d'}"
                class="btn mx-1">
          {{ page }}
        </button>
      </ng-container>
    
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-icon">
        <span class="material-symbols-outlined">arrow_forward_ios</span>
      </button>
      
    </div>-->
  </div>


