
<div class="dashboard-content">
    <!-- Section des statistiques -->
    <div class="statistics">
        <div>
            <img src="/assets/images/admin1.png" alt="">
        </div>
        <div class="stat-card card1">
            <div class="stat-info">
                <span class="iconify icon1" data-icon="uis:clinic-medical"></span>
                <h4>{{ totalStructures }}</h4>
            </div>
            <p>Structures enregistrées</p>
        </div>
        <div class="stat-card card2">
            <div class="stat-info">
                <span class="iconify icon2" data-icon="fluent:people-team-16-filled"></span>
                <h4>{{ utilisateursSimples.length }}</h4>
            </div>
            <p>Utilisateurs inscrits</p>
        </div>
    </div>

    <!-- Section des stocks par structure -->
     <div class="info-struct">
        <div class="stocks">
            <div class="add-struct">
                <a [routerLink]="['/sidebar/structure/ajouter']">
                    <span class="iconify" data-icon="carbon:add-filled"></span>
                </a>
                <h5>Ajouter une structure</h5> 
            </div>          
            <h2>Stock par structure</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Structures</th>
                        <th>Poches</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let stock of stockData">
                        <td>{{ stock.structureNom }}</td>
                        <td>{{ stock.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Section des annonces récentes -->
        <div class="recent-announcements">
            <h2>Annonces dernièrement mises en ligne</h2>
            <div  *ngFor="let annonce of annoncesRecientes">
            <div class="announcement">
                <div class="announcement-date">
                    <p><span class="iconify" data-icon="mage:calendar-fill"></span>Le {{ annonce.date_debut | date:'dd/MM/yyyy' }}</p>
                    <p><span class="iconify" data-icon="icomoon-free:location"></span>{{ annonce.adresse_lieu }}</p>                    
                </div>
                <div class="announcement-content">
                    <p>Publiée par le {{ annonce.structureNom }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
