/* Hero section */
*{
    font-family: 'Montserrat', sans-serif;
}
.hero {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/images/accueil1.png'); /* Utilisez le chemin vers l'image d'arrière-plan */
    background-image: url('/assets/images/accueil1.png'); /* Utilisez le chemin vers l'image d'arrière-plan */
    background-size: cover; /* Ajuste l'image pour couvrir l'élément */
    background-position: center; /* Centre l'image */
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  
  .hero-content h1 {
    font-size: 32px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6); /* Pour rendre le texte plus lisible */
    padding: 20px;
    border-radius: 10px;
  }
  
   .platform-name {
    color: #df2c26; /* Couleur de la plateforme en rouge */
  }
  
  /* Processus section */
  .processus-section {
    padding: 40px;
    background-color: #ffffff;
  }
  .deco-accueil{
    margin-bottom: 20px;
    display: flex;
    margin-left: 10%;
  }
  .deco-accueil1{
    width: 64px;
    height: 74px;

  }
  .deco-accueil2{
    width: 64px;
    height: 74px;
    margin-left: 76%;
  }
  
  .processus-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1D3557;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -60px;
  }
  .border1 {
    width: 10%; /* Ajuste la largeur de la bordure */
    height: 3px; /* Épaisseur de la bordure */
    background-color: #df2c26; /* Couleur de la bordure */
    margin-left: 45% ; /* Centre la bordure sous le titre */
  }
  
  .processus-section .steps {
    display:flex;
    flex-direction: column; /* Positionne les éléments l'un en dessous de l'autre */
    gap: 30px; /* Espace entre chaque étape, ajuste selon tes besoins */
  }
  
  .processus-section .step {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
  }
  .processus-section .step1{
    background-color: rgb(29,53,87,0.05);
  }
  .processus-section .step2{
    background-color: rgb(223,44,38,0.1);
  }
  
  .processus-section .step img {
    width: 40%;
    height: 300px;
  }
  .processus-section .step .img1 {
    margin-left: auto;
  }
  .processus-section .step p {
    font-size: 18px;
    font-weight: 500;
    color: #1D3557;
    margin-top: 40px;
    padding: 0;
    margin-top: 60px;   
  }
  .processus-section .step .p1{
    margin-left: 5%;
    text-align: justify;
    word-break: break-word;
  }
  .processus-section .step .p2{
    margin-right: 5%;
    text-align: justify;
    hyphens: auto;
    word-break: break-word;
  }
  
  /* Style de la numérotation */
.number {
    position: absolute;
    top: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #df2c26;
    color: #ffffff;
}
.number1{   
    left: 10px;
}
.number2{
    right: 10px;
}
/* Style des titres */
.step-title {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    color: #df2c26;
}
.title1{
    left: 60px;
}
.title2{
    right: 60px;
    color: #df2c26;
}
.video-section {
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    margin-top: -20px;
 }
 .video-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #1D3557;
    text-align: center;
 }
 .border2 {
  width: 10%; /* Ajuste la largeur de la bordure */
  height: 3px; /* Épaisseur de la bordure */
  background-color: #df2c26; /* Couleur de la bordure */
 /* margin-left: 45% ; /* Centre la bordure sous le titre */
  margin: 0 auto;
  margin-top: -10px;
}
.video-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #df2c2660;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.video-text {
  flex: 1;
  padding: 20px;
  text-align: left;
}
.video-text p {
  font-size: 16px;
  color: #1D3557;
  line-height: 1.6;
}
.video-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.video-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
 
 
  /*  Temoignage */
  .testimonials {
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
 }
 .testimonials h2{
    font-size: 24px;
    font-weight: bold;
    color: #1D3557;
    text-align: center;
 }
 .border3 {
    width: 7%; /* Ajuste la largeur de la bordure */
    height: 3px; /* Épaisseur de la bordure */
    background-color: #df2c26; /* Couleur de la bordure */
    margin: 0 auto;
   /* margin-left: 46.5% ; /* Centre la bordure sous le titre */
    margin-top: -5px;
  }
  .testimonial-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

/* Carte de témoignage */
.testimonial-card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 350px;
    max-width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Image du témoignage */
.testimonial-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #457b9d;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Nom */
.testimonial-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #df2c26;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Texte */
.testimonial-card p {
    font-size: 14px;
    color: #1D3557;
    line-height: 1.6;
}

 /* Button call action */
 .cta-section {
    padding: 40px;
    background-color: #ffffff;
    color: #df2c26;
    text-align: center;

 }
 .cta-section h2 {
    margin-bottom: 20px;
 }
 .cta-button {
    padding: 10px 20px;
    background-color: #df2c26;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;



 }
 @media (max-width: 768px) {
  /* Bannières */
  .hero-content h1 {
    font-size: 24px; /* Texte ajusté pour petits écrans */
}

/* Processus du don */
.deco-accueil{
  margin-left: 8%;
}
.deco-accueil1{
  width: 44px;
  height: 54px;
}
.deco-accueil2{
  width: 44px;
  height: 54px;
  margin-left: 74%;
}
  .steps {
    flex-direction: column; /* Étapes empilées sur mobile */
  }
.steps .step img {
  flex-shrink: 0; /* Empêche l'image de se redimensionner */
  border-radius: 10px;
}

/* Section videos */
.video-card {
  flex-direction: column;
  text-align: center;
}

.video-text {
  padding: 10px;
}

.video-container {
  padding: 10px;
}
 /* Temoignages */
  .testimonial {
      width: 90%; /* Témoignages plus larges sur petit écran */
      margin: auto;
  }
  .testimonial p {
    text-align: justify;
    line-height: 1.6; /* Améliore la lisibilité */
  }

  
}

@media (max-width: 480px) {
  /* Processus du don */
.deco-accueil{
  display: none;
}
.processus-section h2 {
  font-size: 22px;
  margin-top: -30px;
}
.steps {
  flex-direction: column; /* Étapes empilées sur mobile */
}
.processus-section .step {
  padding: 15px; /* Réduit le padding sur des petits écrans */
  max-width: 100%; /* Ajuste la largeur de la card */
  height: auto;
  
}
.steps .step img {
  display: none;
}
.step-title {
  font-size: 18px;
}
.number {
  font-size: 16px;
  height: 38px;
  width: 38px; 
}
.processus-section .step p {
  font-size: 16px; 
}

}




 

 
  