<app-header></app-header>
<div class="hero">
    <div class="hero-content">
      <h1>Avec <span class="platform-name">e-Blood</span> c'est facile de sauver des vies</h1>
    </div>
  </div>
  
  <div class="processus-section">
    <div class="deco-accueil">
        <img src="/assets/images/accueil2.png" alt="Don de sang" class="deco-accueil1">
        <img src="/assets/images/accueil2.png" alt="Don de sang" class="deco-accueil2">
    </div>
    <h2>Processus du don 
    <div class="border1"></div>
    </h2>
    <div class="steps">
      <div class="step step1">
        <div class="number number1">1</div>
        <h3 class="step-title title1">Vérification de l'identité</h3>
        <p class="p1">Pendant le rendez-vous dès votre arrivée , l’ équipe de la structure vous accueille et vérifie votre pièce d’identité. Il s’en suit d’un entretient confidentiel avec un agent de santé pour garantir votre sécurité et celle des personnes qui recevront les produits sanguins issus de votre don.</p>
        <img class="img1" src="/assets/images/accueil3.png" alt="Don de sang étape 1" />
      </div>
      <div class="step step2">
        <div class="number number2">2</div>
        <h3 class="step-title title2">Le prélèvement de sang</h3>
        <img src="/assets/images/accueil4.png" alt="Don de sang étape 2" />
        <p class="p2">Au moment du don de sang, il vous est prélevé une quantité égale à 450 ml. Ce volume est restauré par votre organisme dans les six (6) heures qui suivent.</p>
      </div>
      <div class="step step1">
        <div class="number number1">3</div>
        <h3 class="step-title title1">Les précautions après le don</h3>
        <p class="p1">Ne pratiquez pas d’effort physique intense dans les heures qui suivent le don et veillez à consommer des aliments riches en fer comme des lentilles, pois, fèves, fruits de mer etc.</p>
        <img class="img1" src="/assets/images/accueil3.png" alt="Don de sang étape 3" />
      </div>
      <div class="step step2">
        <div class="number number2">4</div>
        <h3 class="step-title title2">Durée du don</h3>
        <img src="/assets/images/accueil4.png" alt="Don de sang étape 2" />
        <p class="p2">Le processus total prend environ 30 à 45 minutes, mais le prélèvement de sang ne prend que 10 minutes.</p>
      </div>
    </div>
  </div>
  <div class="video-section">
    <h2 class="title-video">Parcours d'une poche de sang</h2>
    <div class="border2"></div>
    <div class="video-card">
      <div class="video-text">
          <p>Découvrez le processus fascinant du don de sang, du prélèvement à la transfusion. Cette vidéo explique en détail les étapes essentielles pour sauver des vies.</p>
      </div>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iGp7uUFogHQ?si=Yd3k5j-aKXSXk3q5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
 </div>
 
<!-- Temoignage-->
<div class="testimonials">
    <h2>Témoignages</h2>
    <div class="border3"></div>
    <div class="testimonial-section">
    <div class="testimonial-card">
        <img src="/assets/images/exemple_profile.png" alt="Photo de Stella Larson">
        <h3>Abdoulaye Fall</h3>
        <p>Donner mon sang m'a permis de réaliser à quel point un petit geste peut sauver des vies. Savoir que mon don peut faire la différence pour une personne dans le besoin me remplit de fierté. C'est une expérience humaine incroyable que je recommande à tous.</p>
    </div>
    <div class="testimonial-card">
        <img src="/assets/images/awa2.png" alt="Photo de Olga Jonson">
        <h3>Awa Mbaye</h3>
        <p>Je suis reconnaissante envers les donneurs anonymes qui ont sauvé ma vie. Après une intervention d'urgence, j'ai eu besoin de plusieurs poches de sang. Grâce à leur générosité, je peux aujourd'hui profiter pleinement de ma famille et de mes amis.</p>
    </div>
    <div class="testimonial-card">
        <img src="/assets/images/cecile2.png" alt="Photo de Paul Smith">
        <h3>Cécile Coréa</h3>
        <p>Je donne mon sang régulièrement depuis trois ans. C'est une façon simple mais puissante de contribuer à ma communauté. Chaque don est une opportunité de sauver plusieurs vies, et cela me donne un sentiment d'accomplissement inestimable.</p>
    </div>
    <div class="testimonial-card">
        <img src="/assets/images/cheikh2.png" alt="Photo de Nat Reynolds">
        <h3>Cheikh Tidiane Diagne</h3>
        <p>Un accident de voiture m'a laissé dans un état critique. Sans les dons de sang disponibles, je ne serais peut-être plus là aujourd'hui. Je ne peux jamais assez remercier les donneurs pour leur geste de pure altruisme.</p>
    </div>
</div>
</div>

<!-- Boutton call action -->
<div class="cta-section">
    <h2>Prêt à sauver des vies ?</h2>
    <a routerLink="/annonces"  class="cta-button">Prenez rendez-vous</a>
 </div>

 <app-footer></app-footer>

  
