<app-header></app-header>
<div class="hero">
    <div class="hero-content">
      <h1>Avec <span class="platform-name">[nom de la plateforme]</span>, c'est facile de sauver des vies</h1>
    </div>
  </div>
  
  <div class="processus-section">
    <div class="deco-accueil">
        <img src="/assets/images/accueil2.png" alt="Don de sang" class="deco-accueil1">
        <img src="/assets/images/accueil2.png" alt="Don de sang" class="deco-accueil2">
    </div>
    <h2>Processus du don 
    <div class="border1"></div>
    </h2>
    <div class="steps">
      <div class="step step1">
        <div class="number number1">1</div>
        <h3 class="step-title title1">Vérification de l'identité</h3>
        <p class="p1">Pendant le rendez-vous dès votre arrivée , l’ équipe de la<br> structure vous accueille et vérifie votre pièce d’identité. Il<br> s’en suit d’un entretient confidentiel avec un agent de<br> santé pour garantir votre sécurité et celle des personnes<br> qui recevront les produits sanguins issus de votre don.</p>
        <img class="img1" src="/assets/images/accueil3.png" alt="Don de sang étape 1" />
      </div>
      <div class="step step2">
        <div class="number number2">2</div>
        <h3 class="step-title title2">Le prélèvement de sang</h3>
        <img src="/assets/images/accueil4.png" alt="Don de sang étape 2" />
        <p class="p1">Au moment du don de sang, il vous est prélevé<br> une quantité égale à 450 ml. Ce volume est<br> restauré par votre organisme dans les six (6)<br> heures qui suivent.</p>
      </div>
      <div class="step step1">
        <div class="number number1">3</div>
        <h3 class="step-title title1">Les précautions après le don</h3>
        <p class="p1">Ne pratiquez pas d’effort physique intense dans les<br> heures qui suivent le don et veillez à consommer<br> des aliments riches en fer comme des lentilles, pois, fèves,<br> fruits de mer etc.</p>
        <img class="img1" src="/assets/images/accueil3.png" alt="Don de sang étape 3" />
      </div>
      <div class="step step2">
        <div class="number number2">4</div>
        <h3 class="step-title title2">Durée du don</h3>
        <img src="/assets/images/accueil4.png" alt="Don de sang étape 2" />
        <p class="p1">Le processus total prend environ 30 à 45 minutes,<br> mais le prélèvement de sang ne prend que 10 minutes.</p>
      </div>
    </div>
  </div>
  <div class="video-section">
    <h2 class="title-video">Parcours d'une poche de sang</h2>
    <div class="border2"></div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iGp7uUFogHQ?si=Yd3k5j-aKXSXk3q5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
 </div>
 
<!-- Temoignage-->
<div class="testimonials-section">
    <h2>Témoignages</h2>
    <div class="border3"></div>
    <div class="testimonials">
        <div class="testimonial">
            <img src="/assets/images/homme.jpg" alt="Témoin 1">
            <p>"Donner du sang est la meilleure chose que j'ai faite, j'ai l'impression de sauver des vies."</p>
            <span>- Jean, Donneur régulier</span>
        </div>
        <div class="testimonial">
            <img src="/assets/images/femme.jpg" alt="Témoin 2">
            <p>"Je suis en vie grâce aux dons de sang. Merci à tous les donneurs."</p>
            <span>- Marie, Bénéficiaire</span>
        </div>
    </div>
</div>

<!-- Boutton call action -->
<div class="cta-section">
    <h2>Prêt à sauver des vies ?</h2>
    <a href="/donate" class="cta-button">Prenez rendez-vous</a>
 </div>
 
         
  
  <footer>
    <p><span class="platform-name">NOM DE LA PLATEFORME ICI</span></p>
  </footer>
  
