.struct-container {
    width: 100%;
    padding: 20px;
    font-family: Montserrat, sans-serif;
  }
  
 
  .btn-custom{
    background-color: #DF2C26;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.btn-custom:hover{
    background-color: #c0392b;
    color: #ffffff;
}
  
  .struct-title {
    margin-left: 35%;
    margin-bottom: 25px;
    margin-top: 60px;
    font-size: 32px;
    font-weight: bold;
    color: #1D3557;
  }
  
  .struct-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #1D3557;

  }
  
  .struct-table th,
  .struct-table td {
    padding: 12px;
  }
  
  .struct-table th {
    background-color: #1D3557;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
  }
  
  .struct-table table tr {
    background-color: #ffffff;
    color: #1D3557;
    font-weight: 400;
    font-size: 18px;
  }
  
  .struct-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  .struct-table .iconify {
    margin-right: 10px;
    cursor: pointer;
    color: #DF2C26;
    font-size: 20px;
  }

   /* Conteneur pour aligner les champs de filtre */
.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

/* Style pour le select de type de donneur */
.filter-container select {
  width: 48%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #1D3557;
  border-radius: 5px;
  color: #1D3557;
  background-color: #f9f9f9;
}

/* Style pour le champ de recherche */
.filter-container input[type="text"] {
  width: 48%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #1D3557;
  border-radius: 5px;
  color: #1D3557;
  background-color: #f9f9f9;
}

/* Style pour le focus des champs de filtre */
.filter-container select:focus,
.filter-container input[type="text"]:focus {
  outline: none;
  border-color: #DF2C26;
  box-shadow: 0 0 5px rgba(223, 44, 38, 0.5);
}
  