<div class="form-container">
    <h2>Formulaire d'ajout d'une annonce</h2>
    <form [formGroup]="annonceForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" id="titre" formControlName="titre" placeholder="Titre">
            </div>
            <div class="form-group">
                <label for="nom_lieu">Lieu de collecte</label>
                <input type="text" id="nom_lieu" formControlName="nom_lieu" placeholder="Nom du lieu">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="type_annonce">Type d'annonce</label>
                <select id="type_annonce" formControlName="type_annonce">
                    <option value="" selected disabled>Sélectionner un type</option>
                    <option value="collecte">Collecte</option>
                    <option value="besoin_urgence">Besoin Urgence</option>
                </select>
            </div>
            <div class="form-group">
                <label for="adresse_lieu">Adresse du lieu</label>
                <input type="text" id="adresse_lieu" formControlName="adresse_lieu" placeholder="Adresse du lieu">
            </div>
            
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="date_debut">Date de début</label>
                <input type="date" id="date_debut" formControlName="date_debut">
            </div>
            <div class="form-group">
                <label for="groupe_sanguin_requis">Groupe sanguin requis</label>
                <select id="groupe_sanguin_requis" formControlName="groupe_sanguin_requis">
                    <option value="" selected disabled>Sélectionner le(s) groupe(s)</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="Tous les groupes">Tous les groupes</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="date_fin">Date de la fin</label>
                <input type="date" id="date_fin" formControlName="date_fin">
            </div>
            <div class="form-group">
                <label for="nombre_poches_vise">Nombre de poches visées</label>
                <input type="number" id="nombre_poches_vise" formControlName="nombre_poches_vise" placeholder="Nombre de poches visées">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="heure_debut">Heure de début</label>
                <input type="time" id="heure_debut" formControlName="heure_debut">
            </div>
            <div class="form-group description-group">
                <label for="description">Description</label>
                <textarea id="description" formControlName="description" placeholder="Description de l'annonce"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="heure_fin">Heure de la fin</label>
                <input type="time" id="heure_fin" formControlName="heure_fin">
            </div>
            <div class="form-group">
                <label for="contact_resposable">Contact du responsable</label>
                <input type="text" id="contact_responsable" formControlName="contact_responsable" placeholder="Contact responsable collecte">
            </div>
            
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-submit">Ajouter</button>
            <button routerLink="/sidebar1/annonce" type="button" class="btn-cancel">Annuler</button>
        </div>
    </form>
</div>

