<section class="how-it-works-section" id="how-it-works">
  <div class="how-it-works-content">
    <h2>Comment ça marche</h2>
    <div class="title-container">
      <div class="line"></div>
      <img class="icon" src="assets/images/divider.png" alt="Icône coeur">
      <div class="line"></div>
    </div>
    <div class="steps-container">
      <!-- Première ligne (Étape 1 & 2) -->
      <div class="step-card">
        <div>
          <img src="/assets/images/marche1.png" alt="Inscription et Connexion" class="step-icon">
        </div>
        <div>
          <p><strong>1. Inscription et Connexion</strong><br>
            <br>Les donneurs pourrons facilement créer un<br>compte en fournissant leurs informations<br>personnelles, y compris leur groupe<br>
            sanguin. Une fois inscrits, ils peuvent<br>accéder à leur tableau de bord pour voir les<br>collectes de sang disponibles ou les besoins<br>urgents.</p>
        </div>
      </div>

      <div class="step-card">
        <div>
          <img src="/assets/images/marche2.png" alt="Notification" class="step-icon">
        </div>
        <div>
          <p><strong>2. Notification</strong><br>
            <br>Les donneurs inscrits recevront des<br> notifications en fonction de leur groupe sanguin lorsqu'il y a des besoins urgents ou<br>
            des collectes à proximité.</p>
        </div>
      </div>

      <!-- Deuxième ligne (Étape 3 & 4) -->
      <div class="step-card">
        <div>
          <img src="/assets/images/marche3.png" alt="Inscription à une annonce" class="step-icon">
        </div>
        <div>
          <p><strong>3. Inscription à une annonce</strong><br>
            <br>Les donneurs pourront faire une inscription<br> pour donner leur sang en fonction des<br> collectes disponibles. Une fois l’inscription<br>
            effectué, un rappel leur est envoyé avant la<br> date via SMS.</p>
        </div>
      </div>

      <div class="step-card">
        <div>
          <img src="/assets/images/marche4.png" alt="Suivi des Dons et Historique" class="step-icon">
        </div>
        <div>
          <p><strong>4. Suivi des Dons et Historique</strong><br>
            <br>Les donneurs peuvent consulter leur<br> historique de dons et voir les futurs inscriptions<br> planifiés.<br>
            Ils peuvent également suivre leur éligibilité<br> au don selon les règles locales.</p>
        </div>
      </div>
    </div>
  </div>
</section>
