<section class="how-it-works">
    <h2>COMMENT ÇA MARCHE</h2>
    <ul>
      <li><strong>Inscription et Connection</strong> - Les donneurs créent un compte, accèdent au tableau de bord...</li>
      <li><strong>Notification</strong> - Les notifications sont envoyées pour les besoins urgents...</li>
      <li><strong>Prise de rendez-vous</strong> - Les donneurs planifient leurs rendez-vous en ligne...</li>
      <li><strong>Suivi des dons et historique</strong> - Suivi des dons effectués et eligibility...</li>
    </ul>
  </section>
  
