<div class="dashboard">
    <div class="stats-section">
        <div class="stat-card card1">
            <div class="stat-icon blood-stock">
                <span class="iconify" data-icon="mdi:blood-bag"></span>
            </div>
            <div class="stat-content">
                <h3>{{ totalPochesDeSang }} poches de sang</h3>
                <p>en stock</p>
            </div>
        </div>
        <div class="stat-card card2">
            <div class="stat-icon collects">
                <span class="iconify" data-icon="fontisto:blood-drop"></span>
            </div>
            <div class="stat-content">
                <h3>{{ totalAnnonces }} Annonce(s)</h3>
                <p>publiée(s)</p>
            </div>
        </div>
        <div class="stat-card card3">
            <div class="stat-icon donors">
                <span class="iconify" data-icon="mdi:person-group"></span>
            </div>
            <div class="stat-content">
                <h3>{{ totalDonneurs }} donneurs</h3>
                <p>enregistrés</p>
            </div>
        </div>
    </div>

    <div class="announce-button">
        <a [routerLink]="['/sidebar1/annonce/ajouter']">
            <span class="iconify" data-icon="carbon:add-filled"></span>
        </a>
        <h5>Ajouter une annonce</h5> 
    </div>

    <div class="content-section">
        <div class="blood-group-table">
            <h4>Nombre de poche / Groupe sanguin</h4>
            <table>
                <thead>
                    <tr>
                        <th>Groupe sanguin</th>
                        <th>Poches</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let groupe of pochesParGroupeSanguin">
                        <td>{{ groupe.groupe }}</td>
                        <td>{{ groupe.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="announcements">
            <h4>Dernières annonces publiées</h4>
            <div *ngFor="let annonce of derniereAnnonces" class="announcement-card">
                <p><span class="iconify" data-icon="mage:calendar-fill"></span> Le {{ annonce.date_debut | date:'dd/MM/yyyy' }} au {{ annonce.nom_lieu }} à {{ annonce.heure_debut }} </p>
                <p><span class="iconify" data-icon="icomoon-free:location"></span>{{ annonce.adresse_lieu }}</p>
                <p><span class="iconify icon3" data-icon="maki:blood-bank"></span>Type d'annonce : {{ annonce.type_annonce }} </p>
                 <!-- Ajout de la durée -->
                 <p class="durée"><span class="iconify" data-icon="tabler:clock"></span> Durée: {{ calculerDuree(annonce.date_debut, annonce.date_fin) }} jours </p>
            </div>
        </div>
    </div>
</div>

