<section class="home-section" id="home">
  <div class="overlay">
    <div class="content">
      <h1>Donnez du Sang et Sauvez des Vies</h1>
      <p>Chaque don compte! Rejoignez notre communauté de donneurs et aidez à maintenir les réserves de sang de nos structures. Ensemble, nous pouvons sauver des vies et offrir une seconde chance à ceux qui en ont besoin.</p>
      <div class="buttons">
        <a href="#" class="btn btn-inscription">Inscription</a>
        <a href="#" class="btn btn-connexion">Connexion</a>
      </div>
    </div>
  </div>
</section>

