/* Style pour la section home */
.home-section {
  position: relative;
  background-image: url('/assets/images/Rectangle 12.png'); /* Ajoutez le chemin de l'image de la maquette */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay sombre pour le contraste avec le texte */
}

.content {
  z-index: 2;
  max-width: 800px;
  padding: 0 20px;
  margin-left: 22%;
}

.content h1 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 120px;
  margin-bottom: 30px;
}

.content p {
  font-size: 20px;
  font-weight: 500;
  padding-top: 12px;
  margin-bottom: 60px;
  line-height: 1.8;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  gap: 40px; /* Espace entre les boutons */
}

.btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-inscription {
  background-color: #DF2C26; /* Rouge pour inscription */
  color: #ffffff;
}

.btn-connexion {
  background-color: #1D3557; /* Bleu pour connexion */
  color: #ffffff;
}

.btn:hover {
  background-color: #c0392b; /* Changement de couleur au survol pour inscription */
}

.btn-connexion:hover {
  background-color: #2980b9; /* Changement de couleur au survol pour connexion */
}
