<div class="container">
  <div class="illustration">
    <img src="/assets/images/register1.png" alt="Description de l'image" />
  </div>
  <div class="form-container">
    <h2>INSCRIPTION</h2>
    <form [formGroup]="stepOneForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Votre nom" required />
        <div *ngIf="stepOneForm.get('nom')?.invalid && stepOneForm.get('nom')?.touched" class="error">
          Nom invalide (doit commencer par une majuscule).
        </div>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" formControlName="prenom" class="form-control" placeholder="Votre nom" required/>
        <div *ngIf="stepOneForm.get('prenom')?.invalid && stepOneForm.get('prenom')?.touched" class="error">
          Prénom invalide (doit commencer par une majuscule).
        </div>
      </div>
      <div class="form-group">
        <label for="sexe">Sexe:</label>
        <select id="sexe" formControlName="sexe" class="form-control" required>
          <option value="" selected disabled>Sélectionner votre sexe</option>
          <option value="M">Masculin</option>
          <option value="F">Féminin</option>
        </select>
      </div>
      <div class="form-group">
        <label for="date_naiss">Date de naissance</label>
        <input type="date" id="date_naiss" formControlName="date_naiss" class="form-control" required />
        <div *ngIf="stepOneForm.get('date_naiss')?.invalid && stepOneForm.get('date_naiss')?.touched" class="error">
          Vous devez avoir entre 18 et 50 ans.
        </div>
      </div>
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input type="text" id="adresse" formControlName="adresse" class="form-control" placeholder="Votre adresse" required />
        <div *ngIf="stepOneForm.get('adresse')?.invalid && stepOneForm.get('adresse')?.touched" class="error">
          Adresse invalide.
        </div>
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" id="telephone" formControlName="telephone" class="form-control" placeholder="Votre numéro de téléphone" required />
        <div *ngIf="stepOneForm.get('telephone')?.invalid && stepOneForm.get('telephone')?.touched" class="error">
          Numéro de téléphone invalide (format : 77 000 00 00).
        </div>
      </div>
      <div class="button-group">
        <button type="submit" [disabled]="stepOneForm.invalid" class="btn1">Suivant</button>
        <button routerLink="/login" class="btn2">Retour</button>
      </div>
    </form>
  </div>
</div>
