.statistics-section {
    padding: 0 20px;
    background-color: #ffffff; /* Couleur de fond de la section */
    font-family: 'Montserrat', sans-serif;
  }

  .statistics-section h2 {
    color: #1D3557; /* Bleu pour le titre */
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

 /* Style pour les traits */
 .line {
    width: 50px;
    height: 2.5px;
    background-color: #DF2C26; /* Couleur rouge */
    margin: 0 10px;
    margin-top: -25px;

  }

  /* Style pour l'icône */
  .icon {
    width: 30px; /* Ajuster la taille de l'icône selon la maquette */
    height: 30px;
    margin-top: -25px;

  }
  .statistics-content {
    text-align: center;
    border-radius: 20px;
    width: 95%;
    height: 350px;
    margin: 0 auto;
    background-color: rgb(223, 44, 56, 0.1);    
  }
  .statistics-content p{
    font-size: 22px;
    font-weight: 600;
    color: #1D3557;
    text-align: center;
    padding-top: 20px;
  }
  .statistics-content-item{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .statistics-item {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
  }

  .statistics-item img {
    width: 120px;
    height: 120px;
  }

 .statistics-content-item .statistics-item p {
    font-size: 18px;
    color: #1D3557;
    margin: 10px 0;
    font-weight: 600;
  }

 