<section class="statistics-section" id="statistics">
  <h2>Statistiques</h2>
  <div class="title-container">
    <div class="line"></div>
    <img class="icon" src="assets/images/divider.png" alt="Icône coeur">
    <div class="line"></div>
  </div>
  
  <div class="statistics-content">
    <p>Par le biais de la CNTS , le Sénegal recencent pas nombre de données vis à vis du don<br> de sang </p>
    <div class="statistics-content-item">
      <div class="statistics-item">
        <img src="assets/images/stat1.png" alt="Donneurs">
        <p>6 donneurs pour 1000<br> habitants</p>
      </div>

      <div class="statistics-item">
        <img src="assets/images/stat2.png" alt="Transfusion">
        <p>24 structures de transfusion<br> sanguine</p>
      </div>

      <div class="statistics-item">
        <img src="assets/images/stat3.png" alt="Poches de sang">
        <p>121 000 poches de sang<br> collectées en 2021</p>
      </div>
    </div>
  </div>
</section>

