
.detail-annonce-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
   /* background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    text-align: center;
    font-family: Montserrat, sans-serif;

}
.back-arrow {
    cursor: pointer;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: -50px;
}

.image-banner img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #1D3557;
    margin: 20px 0;
}

.annonce-details {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
}

.left-column, .right-column {
    flex: 0 0 48%;
}

.annonce-details p {
    margin: 10px 0;
    font-size: 20px;
    color: #1D3557;
    margin-bottom: 25px;

}

strong {
    font-weight: bold;
}
/*    Style pour l section de l'inscription */
.inscriptions-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 8px;
}

.inscriptions-section h3 {
    color: #1D3557;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Style de chaque carte d'inscription */
.inscription-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

/* Informations de l'inscription */
.inscription-info {
    text-align: left;
    color: #1D3557;
}

.inscrit-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.inscrit-contact, .inscrit-etat {
    font-size: 16px;
    margin: 5px 0;
}

/* État avec couleur dynamique */
.etat-effectue {
    color: #4CAF50; /* Vert pour l'état "Effectué" */
    font-weight: bold;
}

.etat-non-effectue {
    color: #DF2C26; /* Rouge pour l'état "Non effectué" */
    font-weight: bold;
}

/* Style du bouton d'état */
.etat-button {
    background-color: #DF2C26;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.etat-button:hover {
    background-color: #c1271e; /* Teinte plus foncée au survol */
}

.etat-button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}
