<!-- Flèche de retour -->
<div class="back-arrow">
  <i routerLink="/sidebar1/annonce" class="fa-solid fa-arrow-left" style="color: #DF2C26; font-size: 30px;"></i>
</div>
<div class="detail-annonce-container" *ngIf="annonce">
  <div class="image-banner">
      <img src="assets/images/detail-annonce.png" alt="Grande collecte de sang">
  </div>
  <h2>{{ annonce.titre }}</h2>
  
  <div class="annonce-details">
      <div class="left-column">
          <p><strong>Type d'annonce :</strong> {{ annonce.type_annonce }}</p>
          <p><strong>Lieu :</strong> {{ annonce.nom_lieu }}</p>
          <p><strong>Date de début :</strong> {{ annonce.date_debut | date:'dd/MM/yyyy' }}</p>
          <p><strong>Description :</strong> {{ annonce.description }}.</p>
          <p><strong>Nombre de poches visées :</strong>{{ annonce.nombre_poches_vise }} poches</p>
      </div>
      
      <div class="right-column">
          <p><strong>Groupe sanguin requis :</strong> {{ annonce.groupe_sanguin_requis }}</p>
          <p><strong>Adresse :</strong> {{ annonce.adresse_lieu }}</p>
          <p><strong>Date de la fin :</strong> {{ annonce.date_fin | date:'dd/MM/yyyy' }}</p>
          <p><strong>Heure de début :</strong> {{ annonce.heure_debut }}</p>
          <p><strong>Contact du responsable :</strong> {{ annonce.contact_responsable }}</p>
          <p><strong>Nombre d'inscrit :</strong> {{ annonce.nombre_inscrits }} volontaires</p>
      </div>
  </div>
  <div class="inscriptions-section">
    <h3>Inscriptions ({{ annonce.nombre_inscrits }})</h3>
    <div *ngFor="let inscrit of annonce.inscrits" class="inscription-card">
        <div class="inscription-info">
            <p class="inscrit-name">{{ inscrit.prenom }} {{ inscrit.nom }}</p>
            <p class="inscrit-contact">Téléphone : {{ inscrit.telephone }}</p>
            <p class="inscrit-etat">
                <strong>État : </strong>
                <span [class]="inscrit.etat ? 'etat-effectue' : 'etat-non-effectue'">
                    {{ inscrit.etat ? 'Effectué' : 'Non effectué' }}
                </span>
            </p>
        </div>
        <button class="etat-button" 
                (click)="redirectToUpdateEtat(inscrit.id)" 
                [disabled]="inscrit.etat">
            {{ inscrit.etat ? 'Déjà effectué' : 'Marquer comme effectué' }}
        </button>
    </div>
</div>
</div>