<section class="about-section" id="about">
    <img src="/assets/images/Apropos1.png" alt="Don de sang" class="deco-about1">
  <div class="about-content">
    <h1>À PROPOS</h1>  
    <!-- Premier bloc: Texte à gauche, image à droite -->
    <div class="about-row">
      <div class="about-text">
        <p class="about-text1">
          La plateforme (Nom de la plateforme) est<br> une initiative qui vise à répondre à la<br> problématique urgente de la pénurie de<br>
          sang dans les hôpitaux et centres de<br> transfusion sanguine à travers le Sénégal<br>.  Nous croyons fermement que toute<br>
          personne en bonne santé âgée 18 à 60 ans<br>  a le pouvoir de sauver des vies en faisant un<br> don de sang. En mettant en place cette<br>
          plateforme, nous facilitons la<br> communication entre les donneurs<br> potentiels et les structures de santé,<br> permettant une gestion optimisée des<br>
          besoins en poches de sang.
        </p>
      </div>
      <div class="about-image">
        <img src="/assets/images/Apropos2.png" alt="Don de sang" class="about-img1">
      </div>
    </div>

    <!-- Deuxième bloc: Image à gauche, texte à droite -->
    <div class="about-row reverse">
      <div class="about-text">
        <p>
          Notre mission est simple : promouvoir le<br> don de sang et simplifier l’accès à<br> l'information pour que chaque citoyen<br> puisse contribuer,
          en temps utile, à cet<br> acte solidaire. Nous travaillons en<br> collaboration avec le Centre National de<br> Transfusion Sanguine (CNTS)
          et d'autres<br> structures régionales pour assurer une<br> répartition équitable et rapide des<br> poches de sang.
        </p>
      </div>
      <div class="about-image">
        <img src="/assets/images/Apropos3.png" alt="Donneur de sang" class="about-img2">
      </div>
    </div>    
  </div>
  <img src="/assets/images/Apropos1.png" alt="Don de sang" class="deco-about2">
</section>
