<div>
  <h2>Mettre à jour la poche de sang</h2>
  <form (ngSubmit)="handleUpdatePoche()">
    <label>
      Groupe sanguin:
      <select id="groupeSanguin" [(ngModel)]="groupeSanguin" name="groupeSanguin">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
      </select>
    </label>
    <label for="datePrelevement">
      Date de prélèvement:
      <select id="datePrelevement" [(ngModel)]="datePrelevement" name="datePrelevement" required>
        <option *ngFor="let date of annoncesDates" [value]="date">{{ date | date: 'dd/MM/yyyy' }}</option>
      </select>
    </label>
    <label>
      Banque de sang:
      <select [(ngModel)]="banqueSangId" name="banqueSangId" required>
        <option *ngFor="let banque of banquesSang" [value]="banque.id">
          {{ banque.matricule }} <!-- Remplacez par l'attribut correct pour la matricule -->
        </option>
      </select>
    </label>
    <button type="submit">Mettre à jour la poche</button>
    <button routerLink="/sidebar1/poche-sang" type="button" class="btn-cancel">Annuler</button>
  </form>
</div>
