<!-- header.component.html -->
<header class="header">
    <div class="logo">
      <img src="/assets/logo.png" alt="Logo" /> <!-- Remplacez par le chemin vers votre logo -->
    </div>
    <nav class="nav">
      <ul>
        <li><a routerLink="/accueil" routerLinkActive="active">Accueil</a></li>
        <li><a routerLink="/annonces" routerLinkActive="active">Annonces</a></li>
        <li><a routerLink="/mes-dons" routerLinkActive="active">Mes Dons</a></li>
        <li><a routerLinkActive="active" (click)="toggleDropdown()">
          Profil <i class="fas fa-caret-down"></i>
            </a>
          <ul class="dropdown" *ngIf="isDropdownOpen">
            <li><a routerLink="/profil" routerLinkActive="active"><i class="fas fa-user"></i> Voir mon profil</a></li>
            <li><a (click)="deconnexion()"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
          </ul>
        </li>
        <!--<li><a routerLink="/notifications" routerLinkActive="active" (click)="getUnreadNotifications()"><i class="fas fa-bell"></i>
            <span *ngIf="unreadNotificationsCount > 0" class="notification-badge">{{ unreadNotificationsCount }}</span>
        </a></li>-->
        <li><a (click)="openModal()" class="notification-bell"><i class="fas fa-bell"></i>
              <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span>
            </a>
        </li>
        <!--<button type="button" class="btn"><span class="iconify" data-icon="mdi:bell"></span></button>-->
      </ul>
    </nav>
  </header>
  <!-- Modal -->
<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationsModalLabel">Notifications</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let notification of notifications"><span [class.lue]="notification.lue">{{ notification.contenu }}</span>
            <div class="d-flex justify-content-between mt-2">
              <a [routerLink]="['/detail-annonce-user', notification.annonce_id]" (click)="markAsRead(notification.id)"  class="btn btn-success btn-sm"  data-bs-dismiss="modal" aria-label="Close">S'inscrire</a>

              <button class="btn btn-danger btn-sm" (click)="deleteNotification(notification.id)">Supprimer</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
  
