 /* Footer */
 footer {
    background-color: #1D3557;
    padding: 20px;
    text-align: center;
    color: white;
  }
  .footer-icon{
    display: inline-block;
  }
  .footer-img{
    max-width: 30px;
  }
 